// Common form styling

input, select {
	box-sizing: border-box;
	float: left;
	width: 100%;
	padding: .33rem .26rem;
	background-color: rgba($color: #000000, $alpha: 0);
	border: 0;
	border-bottom: 1px solid;
	outline: 0;
}

select {
	margin-bottom: .18rem;
}

input {
	padding: .33rem .33rem;
}

input[type="submit"] {
	display: inline-block;
	width: 50%;
}

input::placeholder {
	font-weight: 300;
}

.button-send {
	box-sizing: border-box;
	min-width: 50%;
	margin-top: 1.4rem;
}

form.light {
	input, select {
		color: $color-light;
		border-color: $color-light;
	}

	option {
		color: $color-dark;
	}

	input::placeholder {
		color: $color-light;
	}
}

form.dark {
	input, select {
		color: $color-dark;
		border-color: $color-dark;
	}

	option {
		color: $color-dark;
	}

	input::placeholder {
		color: $color-dark;
	}
}