// Slide status line

.slider_status_line {
	height: 100%;
	width: 100%;
	opacity: .5;

	transition: height 1.5s $ease-in-out-quart, background-color 1.5s;
}

// Active state

.slider_status_line.is-header {
	height: 16.66%;
}