// Status slider number slide

.slider_status_square {
	&:before {
		position: absolute;
		top: 50%;
		right: .21rem;
		transform: translate(-50%, 75%) rotate(-45deg);
		font-size: $slider-status-square-number-size;
		opacity: 0;
		pointer-events: none;
		transition: opacity 1.5s $ease-in-out-quart, color 1.5s;
	}

	&:nth-child(1):before { content: '01'; }
	&:nth-child(2):before { content: '02'; }
	&:nth-child(3):before { content: '03'; }
	&:nth-child(4):before { content: '04'; }
	&:nth-child(5):before { content: '05'; }
}