// Slide status square

.slider_status_square {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: -$slider-status-square-size / 2;
	width: $slider-status-square-size;
	height: $slider-status-square-size;

	transition: transform 1.5s $ease-in-out-quart, background-color 1.5s;

	&:nth-child(1) { top: 16.66%; }
	&:nth-child(2) { top: 16.66% * 2; }
	&:nth-child(3) { top: 16.66% * 3; }
	&:nth-child(4) { top: 16.66% * 4; }
	&:nth-child(5) { top: 16.66% * 5; }
}

// Active square

.slider_status_square.is-active {
	transform: rotate($slider-status-square-rotate);

	&:before {
		opacity: 1;
		pointer-events: auto;
	}
}