// Slide status

@import "./variables";
@import "./line";
@import "./square";
@import "./number";

.slider_status {
	position: fixed;
	z-index: 10;
	@include align(r,c);
	@include indentation(right);
	height: 100%;
	width: $slider-status-line-width;
}

// Color theme

.slider_status.is-light {
	.slider_status_line,
	.slider_status_square {
		background-color: $color-light;
	}

	.slider_status_square:before {
		color: $color-light;
	}
}

.slider_status.is-dark {
	.slider_status_line,
	.slider_status_square {
		background-color: $color-medium;
	}

	.slider_status_square:before {
		color: $color-medium;
	}
}

// Media

.slider_status {
	@media only screen and (max-width: 767px) {
		display: none;
	}
}