// PopUp contact

.pop-up {
	position: fixed;
	z-index: 10001;
	@include align(c,c);
	pointer-events: none;
	background-color: $color-light;
	margin-top: 5rem;
	padding: 1rem 1.5rem;
	text-align: center;
	opacity: 0;

	transition: all .5s $ease-in-out-quart;

	&_content {
		width: 7rem;

		form {
			margin-top: 1rem;

			.button {
				display: block;
				margin-top: .83rem;
				color: $color-light;
				margin-left: 25%;
				margin-right: 25%;
			}
		}
	}
}

.pop-up-darken {
	position: fixed;
	z-index: 10000;
	@include align(c,c);
	width: 100%;
	height: 100%;
	pointer-events: none;
	background-color: #000;
	opacity: 0;

	transition: opacity .5s $ease-in-out-quart;;
}

// Open

.pop-up,
.pop-up-darken {
	&.is-open {
		pointer-events: all;
	}
}

.pop-up.is-open {
	margin-top: 0;
	opacity: 1;
}

.pop-up-darken.is-open {
	opacity: .9;
}