// Header change bg item

.header_change-bg_item {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	animation: changeBgAnimation 50s infinite;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&:nth-child(1) {
		animation-delay: 0s;
		background-image: url('../img/header/bg-1.jpg');
		z-index: 10;
	}

	&:nth-child(2) {
		animation-delay: 10s;
		background-image: url('../img/header/bg-2.jpg');
		z-index: 20;
	}

	&:nth-child(3) {
		animation-delay: 20s;
		background-image: url('../img/header/bg-1.jpg');
		z-index: 30;
	}

	&:nth-child(4) {
		animation-delay: 30s;
		background-image: url('../img/header/bg-2.jpg');
		z-index: 40;
	}

	&:nth-child(5) {
		animation-delay: 40s;
		background-image: url('../img/header/bg-1.jpg');
		z-index: 50;
	}
}