// Header logo

.header_logo {
	position: absolute;
	@include align(c,c);
	z-index: 5;
	height: 20%;
	width: auto;
	color: $color-light;
	text-align: center;
	margin-top: -.5rem;

	img {
		height: 100%;
		width: auto;
	}
}