// Header change bg brogress bar

.header_change-bg_progress-bar {
	position: absolute;
	z-index: 50;
	left: 0;
	right: 0;
	top: 0;
	height: 4px;
	width: 100%;
	padding-left: $nav-close-width;
	background-color: #000;
}

.progress-bar_line {
	width: 0;
	height: 100%;
	background-color: $color-light;

	animation: progressBarAnimation 10s linear infinite paused;
}

// Line animation

@keyframes progressBarAnimation {
	0% {
		width: 0;
		height: 100%;
	}

	90% {
		height: 100%;
	}

	100% {
		width: 100%;
		height: 0;
	}
}
