// Scroll down button

.header_scroll-down {
	position: absolute;
	@include align(c,b);
	@include indentation(bottom);
	z-index: 5;

	&_line {
		position: relative;
		height: $header-scroll-line-height;
		width: $header-scroll-line-width;
		margin: 0 auto;
		margin-bottom: $header-scroll-line-height / 2;
		background-color: $color-light;
		animation: scrollDownAnimation 1s infinite alternate;

		transition: all .5s $ease-in-out-quart;

		&:after {
			content: '';
			position: absolute;
			z-index: 5;
			height: 0;
			width: 100%;
			background-color: $color-pink;

			transition: height .5s .5s $ease-in-out-quart;
		}
	}

	&_text {
		text-align: center;
		color: $color-light;
		letter-spacing: 2px;

		transition: color .5s .5s $ease-in-out-quart;
	}
}

// Animation line

.header_scroll-down:hover {
	.header_scroll-down_line {
		height: 0;
		margin-top: 100%;

		transition: all .5s .5s $ease-in-out-quart;
	}

	.header_scroll-down_line:after {
		height: 100%;

		transition: height .5s $ease-in-out-quart;
	}

	.header_scroll-down_text {
		color: $color-pink;

		transition: color .5s $ease-in-out-quart;
	}
}

@keyframes scrollDownAnimation {
	from {
		margin-bottom: $header-scroll-line-height / 2;
	}

	to {
		margin-bottom: $header-scroll-line-height / 3.25;
	}
}