// Header

@import "./variables";
@import "./change-bg";
@import "./progress-bar";
@import "./bg-item";
@import "./logo";
@import "./scroll-down";

.header {
	background-color: #555;
}

.header.active {
	.progress-bar_line,
	.header_change-bg_item {
		animation-play-state: running;
	}
}