// Products block animation

.products {
	background-color: $color-light;
	transition: all .5s;

	.slide_container,
	.slide_bg-text,
	.products_product_images,
	.products_product_nav,
	.products_product_arrows {
		transition: all 0s 1.5s;
	}

	.slide_bg-text {
		left: -25%;
	}

	.products_product_images {
		transform: translateX(-50%);
		opacity: 0;
	}

	.products_product_arrows {
		transform: translateX(-100%);
		opacity: 0;
	}

	.products_product_nav {
		transform: translate(-50%, -50%);
		opacity: 0;

		@media (max-width: 767px) {
			transform: translate(-100%, 0);
		}
	}
}

// Active

.products.active {
	background-color: #eee;
	transition: background-color .5s 1.5s;

	.slide_bg-text {
		left: 0;

		transition: left 3s $ease-in-out-quart;
	}

	.products_product_images {
		transform: translateX(0);
		opacity: 1;

		transition: all 2s 1.5s $ease-in-out-quart;
	}

	.products_product_arrows {
		transform: translateX(0);
		opacity: 1;

		transition: all 2s 1.5s $ease-in-out-quart;
	}

	.products_product_nav {
		transform: translate(0, 0);
		opacity: 1;

		@media (min-width: 768px) {
			transform: translate(0, -50%);
		}

		transition: transform 2s 2s $ease-in-out-quart,
					opacity 2s 2s $ease-in-out-quart;
	}
}




// Hover

.products_product_nav_item {
	opacity: 0;
	transition: opacity 1s;
}

.slick-slide.slick-active {
	.products_product_nav_item {
		opacity: 1;
		transition: opacity 1s .5s;
	}
}