// Products slider arrows

.products_product_arrows {
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 1.16rem;

    &_item {
        float: left;
        width: 50%;
        color: $color-light;
        font-size: .66rem;

        &.prev {
            text-align-last: left;
        }

        &.next {
            text-align-last: right;
        }
    }
}