// Products slider nav

.products_category {
	position: absolute;
	top: 12.5%;
	left: 11.11%;

	&_item {
		position: relative;
		float: left;
		letter-spacing: .02rem;
		color: $color-light;
		margin-right: 1.16rem;
		margin-bottom: .5rem;

		transition: color .5s;

		&:hover {
			color: $color-seagull;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -.12rem;
			height: 2px;
			width: 0;
			background-color: $color-seagull;

			transition: width .5s $ease-in-out-quart;
		}
	}
}

// Active nav item

.products_category_item.is-active {
	&::after {
		width: 100%;
	}
}