// Products media styles

.products {
	@media only screen and (max-width: 767px) {
		.button-line {
			display: none;
		}

		&_product {
			height: 58.66%;
			right: -33.33%;

			&_nav {
				bottom: 0;
				transform: none;
				width: 100%;
				height: 1.16rem;

				&_item {
					position: relative;

					li {
						position: absolute;
						@include align(l,c);
						font-size: .33rem;
						opacity: 0;
	
						transition: opacity 1s;
	
						&.is-active {
							opacity: 1;
						}
					}
				}
			}

			&_images {
				width: 100%;
				height: 75%;
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		.button-line {
			right: -38%;
		}
	}

	@media only screen and (min-width: 1201px) and (max-width: 1366px) {
		.button-line {
			right: -33%;
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1366px) {
		&_product_images {
			width: 77.77%;
		}
	}

	@media only screen and (max-width: 1366px) {
		&_category_item {
			margin-right: .5rem;
		}
	}

	@media only screen and (min-width: 768px) {
		&_product_nav {
			top: 50%;
		}

		&_product_arrows {
			display: none;
		}
	}
}