// About video borders

@import "./variables";

.borders {
	box-sizing: border-box;
	position: absolute;
	z-index: -20;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	[class^="line-"] {
		position: absolute;
		background-color: $color-pink;

		transition: all .5s $ease-in-out-quart;
	}

	.line-1, .line-3 {
		width: 0;
		height: $border-line-size;
	}

	.line-2, .line-4 {
		height: 0;
		width: $border-line-size;
	}

	.line-1 {
		top: 0;
		left: 0;
	}

	.line-2 {
		top: 0;
		right: 0;
	}

	.line-3 {
		bottom: 0;
		right: 0;
	}

	.line-4 {
		bottom: 0;
		left: 0;
	}

	.line-1 { transition-delay: 1.5s; }
	.line-2 { transition-delay: 1s; }
	.line-3 { transition-delay: .5s; }
	.line-4 { transition-delay: 0; }
}

// Active slide animation

.slider_slide.active {
	.line-1,
	.line-3 {
		width: 100%;
	}

	.line-2,
	.line-4 {
		height: 100%;
	}

	.line-1 { transition-delay: 1s; }
	.line-2 { transition-delay: 1.5s; }
	.line-3 { transition-delay: 2s; }
	.line-4 { transition-delay: 2.5s; }
}