// Tariffs active slide animation

.tariffs {
	.slide_bg-text,
	.tariffs_info,
	.tariffs_choice_list {
		transition: all 0s 1.5s;
	}

	.slide_bg-text {
		top: 75%;
	}

	.tariffs_info,
	.tariffs_choice_list {
		margin-top: 3rem;
		opacity: 0;
	}
}

.tariffs.active {
	.slide_bg-text {
		top: 43%;
		line-height: 100%;

		transition: top 3s $ease-in-out-quart;

		@media only screen and (max-width: 767px) {
			top: 50%;
		}
	}

	.tariffs_choice_list {
		margin-top: 0;
		opacity: 1;

		transition: all 2s 1.5s $ease-in-out-quart;
	}

	.tariffs_info {
		margin-top: 0;
		opacity: 1;

		transition: all 2s 2s $ease-in-out-quart;
	}
}