// Tariffs media styles

.tariffs {
	@media only screen and (max-width: 1200px) {
		.slide_container {
			right: 0;
		}

		&-section {
			width: 100%;
		}

		.button-line {
			display: none;
		}

		.slide_bg-text {
			top: 50%;
			left: 25%;
			transform: translate(-50%, -50%) rotate(-90deg);
		}

		&_choice {
			width: auto;

			&:after {
				display: none
			}

			.borders {
				display: none;
			}
		}

		&_info {
			width: 42.33%;
		}
	}

	@media only screen and (max-width: 767px) {
		.slide_bg-text {
			font-size: 5rem;
		}

		&_choice {
			top: 30px;
			left: 16.66%;
			width: 75%;
			height: auto;

			&_list {
				top: 0;
				left: 0;
				width: 100%;
				transform: none;
			}

			&_item {
				font-size: .5rem;
				margin: 0;
				margin-bottom: .5rem;
			}
		}

		&_info {
			width: 75%;
			top: 58.33%;
			right: 8.33%;
		}
	}

}