// Tariffs

@import "./title";
@import "./choice";
@import "./info";

.tariffs {
	background-image: url('../img/tariffs/bg.jpg');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 25%;

	&:after {
		content: "";
		position: absolute;
		@include align(c,c);
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .25;
	}

	&-section {
		overflow: hidden;
		position: relative;
		width: 86.93%;
		height: 100%;

		background-color: $color-light;
	}

	.slide_bg-text {
		font-size: 6.25rem;
		color: #eeeeee;
		opacity: .9;
		top: 40%;
		left: 19%;
		transform: translate(-50%, -80%) rotate(-90deg);
	}

	.button-line {
		position: absolute;
		transform: rotate(90deg);
		right: -10%;
		bottom: 50%;
		color: $color-light;

		&:hover {
			color: $color-pink;
		}
	}
}

// Media

@import "./media";
@import "./animation";