.footer-wrapper {
    background-color: #eee;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1450px;
    margin: 0 auto;
    padding: 80px 40px;
    box-sizing: border-box;

    @media (max-width: 992px) {
        padding: 40px;
        flex-direction: column;
        align-items: center;
        text-align: center
    }
   
    &__column {
        width: 300px;
        margin: 0 20px;

        .column-title {
            font-size: .33rem;
            line-height: .42rem;
            margin-bottom: .5rem;
        }

        .column-content {
            font-size: .25rem;
            line-height: .5rem;

            a, p, li {
                font-size: .25rem;
                line-height: .5rem;
                color: $color-dark;
            }
            
        }

        @media (max-width: 992px) {
			margin-bottom: 30px;

			.column-title {
				font-size: .5rem;
			}
			
			.column-content {
				a, p, li {
					font-size: .33rem;
				}
			}
        }
    }

    &__logo {
        margin-bottom: 10px;
        width: 50%;
    }
}