// Title text

.t-1, .t-2, .t-3 {
	margin-bottom: .66rem;
	letter-spacing: .02rem;
}

.t-1 {
	font-size: .66rem;
	font-weight: 400;
	text-transform: uppercase;
}

.t-2 {
	font-size: .5rem;
	font-weight: 400;
	text-transform: uppercase;
}

.t-3 {
	font-size: .5rem;
	font-weight: 400;
}