// Nav contact block

.nav_contact {
	position: absolute;
	@include align(c,b);
	@include indentation(bottom);
	pointer-events: none;
	color: $color-light;
	opacity: 0;

	transition: opacity .25s $ease-in-out-quart;

	a {
		color: $color-light;

		transition: color .5s;

		&:hover {
			color: $color-pink;
		}
	}

	&_social,
	&_tel {
		display: block;
		font-size: .25rem;
		text-align: center;
	}

	&_social {
		float: left;
		width: 50%;
		padding-bottom: .42rem;
	}

	&_tel {
		margin-top: .25rem;
	}
}