// Nav menu item

.nav_menu_item {
	display: block;
	border-bottom: $nav-menu-item-border-size solid $color-medium;
	font-size: $nav-menu-font-size;
	letter-spacing: $nav-menu-font-spacing;
	text-align: center;
	text-transform: uppercase;
	padding: .5rem 0;

	&:last-child {
		border: none;
	}

	a {
		color: $color-light;
		transition: color .5s;
		
		&:hover {
			color: $color-pink;
		}
	}
}