// Nav variables

$nav-close-width: 1.39rem;

$nav-open-width-mobile: 100%;
$nav-open-width-tablet: 50%;
$nav-open-width-desktop: 30%;

$logo-width: .66rem;
$logo-size-correlation: 1.35;
$logo-icon-text-correlation: 33.33%;

$hamburger-width: 50%;
$hamburger-margin: .15rem;
$hamburger-line-height: 2px;

$sound-button-size: .33rem;

$nav-menu-font-size: .21rem;
$nav-menu-font-spacing: 5px;
$nav-menu-item-border-size: 1px;