// About media

.about {
	@media only screen and (max-width: 767px) {
		&_text {
			width: 83.33%;

			&_title {
				font-size: .66rem;
			}

			&_paragraph {
				font-size: .33rem;
			}
		}

		&_video {
			display: none;
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1200px) {
		&_text {
			width: 42.33%;
		}

		&_video {
			width: 33.33%;
		}
	}
}