// About text block

.about_text {
	position: absolute;
	z-index: 20;
	width: 25%;
	@include align(l,c);
	left: 8.33%;

	&_paragraph {
		overflow: hidden;
		line-height: $about-p-line-height;
		max-height: $about-p-line-height * 5;
		letter-spacing: .008rem;

		@media (max-width: 768px) {
			max-height: $about-p-line-height * 15;
		}

		&.is-open {
			max-height: $about-p-line-height * 15;
		}
	}

	.button-line {
		margin-top: .62rem;

		@media (max-width: 768px) {
			display: none;
		}
	}

	&_button {
		margin-top: 2rem;
	}
}