// About

@import "./variables";
@import "./text";
@import "./video";
@import "./media";
@import "./animation";


.about {
	.borders {
		transform: translate(.5rem, .5rem);
	}

	.slide_bg-text {
		color: #0d0d0d;
		opacity: .1;
		top: 25%;
		transform: translate(50%, -50%);
	}
}