// Contact active animation

.contact {
	&_feedback,
	&_get-info_content {
		transition: all 0s 1.5s;
	}

	&_feedback,
	&_get-info_content {
		margin-top: 4rem;
		opacity: 0;
	}
}

.contact.active-last {
	.contact_feedback {
		margin-top: 0;
		opacity: 1;

		transition: all 2s 1.5s $ease-in-out-quart;
	}

	.contact_get-info_content {
		opacity: 1;

		transition: opacity 2s 2s $ease-in-out-quart;
	}
}