// Contact get consultation

.contact_get-info {
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	height: 80%;
	width: 45%;

	&_content {
		position: absolute;
		left: 16.66%;
		bottom: 1.25rem;
		width: 60%;
		color: $color-light;

		.p-2 {
			margin-bottom: 1.33rem;
		}

		.button-line {
			color: $color-light;

			&:hover {
				color: $color-pink;
			}
		}
	}
}