// Contact media style

.contact {
	&_image {
		@media only screen and (min-width: 1200px) and (max-width: 1599px) and (max-height: 800px) {
			top: -5%;
			width: auto;
			height: 56%;
		}

		@media only screen and (min-width: 1600px) and (max-height: 900px) {
			top: -5%;
			width: auto;
			height: 55%;
		}
	}

	&_get-info .p-2 {
		@media only screen and (min-width: 1200px) and (max-width: 1599px) and (max-height: 800px) {
			margin-bottom: .5rem;
		}

		@media only screen and (min-width: 1600px) and (max-height: 900px) {
			margin-bottom: .5rem;
		}
	}

	@media only screen and (max-width: 1200px) {
		&_feedback {
			left: 15%;
		}

		&_image {
			width: 75%;
			height: auto;
		}
	}

	@media only screen and (max-width: 1200px) and (max-height: 768px) {
		&_image {
			top: -5%;
			right: -5%;
			width: 66.66%;
		}

		&_get-info .p-2 {
			margin-bottom: .5rem;
		}
	}

	@media only screen and (max-width: 767px) {
		&_image {
			display: none;
		}

		&_get-info {
			height: 42.66%;
			width: 83.33%;

			.p-2 {
				margin-bottom: 0;
			}
		}

		&_feedback {
			width: 75%;
			left: 16.66%;
			bottom: 50px;

			&_send {
				margin-top: .33rem;
			}

			form {
				margin-top: .66rem;
			}
		}
	}

	@media only screen and (min-width: 768px) {
		&_feedback {
			top: 50%;
			transform: translateY(-50%);
		}
	}
}