// Contact block

@import "./image";
@import "./feedback";
@import "./get-info";
@import "./animation";
@import "./media";

.contact {
	background-color: #121212;

	.slide_bg-text {
		color: #fefefe;
		opacity: .02;
		right: 25%;
		top: 73%;
		transform: translate(50%, -50%) rotate(90deg);
	}

	form {
		margin-top: 1.66rem;
	}
}

.slider_slide.contact.active {
	.borders {
		.line-3 { transition-delay: 1.5s; }
		.line-4 { transition-delay: 2s; }
	}
}