// Variables

@import "variables";

// Mixin

@import "mixin/media";
@import "mixin/align";
@import "mixin/responsive";
@import "mixin/indentation";

// Base modules

@import "fonts";
@import "icons";
@import "normalize";

// Base Styles

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $color-light;
  color: $color-dark;
}

html {
  @include responsive(font-size, $font--s-mob, $font--mob, $font--tab, $font--lap, $font--des, $font--l-des, $font--f-hd);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3,
h4, h5, h6,
p, ul, li {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: .83rem;
}

h3 {
  font-size: .66rem;
}

h4 {
  font-size: .42rem;
}

h5 {
  font-size: .33rem;
}

h6 {
  font-size: .25rem;
}

p, ul, ol {
  font-size: .36rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  user-select: none;
}

.slick-list,
.slick-track {
  height: 100%;
}

.slick-slide {
  outline: none;
}

.h1-ceo {
  display: none;
}