@font-face {
  font-family: 'icomoon';
  src:  url('../assets/icons/icomoon.eot?hnjn8c');
  src:  url('../assets/icons/icomoon.eot?hnjn8c#iefix') format('embedded-opentype'),
    url('../assets/icons/icomoon.ttf?hnjn8c') format('truetype'),
    url('../assets/icons/icomoon.woff?hnjn8c') format('woff'),
    url('../assets/icons/icomoon.svg?hnjn8c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_next:before {
  content: "\e902";
}
.icon-arrow_prev:before {
  content: "\e903";
}
.icon-play_circle_outline:before {
  content: "\e900";
}
.icon-play_circle_filled:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}