// Variable

// Global padding for grid

$pad--s-mob: 20px;
$pad--mob: 25px;
$pad--tab: 30px;
$pad--lap: 40px;
$pad--des: 50px;
$pad--l-des: 60px;
$pad--f-hd: 75px;

// Responsive font size

$font--s-mob: 26px; // 0 - 360
$font--mob: 36px; // 360 - 758
$font--tab: 48px; // 758 - 992
$font--lap: 58px; // 992 - 1200
$font--des: 52px; // 1200 - 1600
$font--l-des: 60px; // 1600 - 1920
$font--f-hd: 72px; // 1920 - ∞

// Easing

$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

// Base transition delay for all animation

$base-td: .5s;

// Shadows

$shadow-1: -10px 10px 50px 10px rgba(0,0,0,0.5);
$shadow-2: -10px 10px 100px 20px rgba(0,0,0,0.5);
$shadow-3: -10px 10px 125px 20px rgba(0,0,0,0.5);
